@font-face {
    font-family: 'ra-inet';
    src: url('C&C Red Alert [INET].ttf');
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ra-inet';
    user-select: none;
    outline: none;
}

.innertab p {
    padding: 10px;
}

.innertab p:nth-child(even) {
    background-color: #00000015;
}

.populationCounter i {
    float: left;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}

.time button {
    padding-bottom: 0;
    font-size: 12px;
    color: gray;
    width: 25px;
}

#dateProgress {
    position: absolute;
    height: 12px;
    margin: -6px;
    margin-top: -10px;
}

.price,
.right p input {
    float: right;
    color: #008000;
}

.right p input,
.right p progress{
    margin-left: 10px;
}

.right p input {
    background: none;
    border: none;
    font-size: 16px;
    user-select: none;
    accent-color: #008000;
    text-align: right;
}

.right p i {
    float: left;
    margin-right: 5px;
}


.right p progress {
    accent-color: #008000;
    width: 129px;
    float: right;
}

.fitH {
    height: fit-content !important;
}

canvas {
    height: 100dvh !important;
    width: 100dvw !important;
}

.overlay,
#tabs {
    position: absolute;
    width: 100dvw;
    height: fit-content;
    justify-content: center;
    display: flex;
    pointer-events: none;
    overflow: visible;
    z-index: 1000;
    place-items: center;
}

#toolOverlay button {
    height: 25px;
    aspect-ratio: 1/1;
}

#toolOverlay {
    display: none;
}

#toolname {
    text-transform: capitalize;
}

.bottom {
    bottom: 0;
}

#tabs {
    bottom: 55px;
}

.navigation div,
#notifications span {
    padding: 5px;
    background: #ffffffbd;
    border: darkgray solid 1px;
    margin: 10px 10px 10px 0px;
    width: fit-content;
    display: inline-block;
    pointer-events: all;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
    backdrop-filter: blur(10px);
}

.navigation span {
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: -6px;
}

button {
    padding: 5px;
    border-radius: 3px;
    border: darkgray solid;
    padding-bottom: 3px;
    border-width: 1px 1px 3px 1px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    transition: all 0.10s ease;
}

button:hover {
    border: gray solid;
    border-width: 1px 1px 3px 1px;
    background: lightgray;
    transition: all 0.10s ease;
}

button:active,
.selected {
    border: gray solid 1px !important;
    background: lightgray;
    box-shadow: none;
    transition: all 0.10s ease;
}

.navigation div:first-child {
    margin-left: 10px;
}

#money,
#date {
    float: right;
    padding-bottom: 3px;
}

.tab,
#hint {
    border-radius: 5px;
    border: darkgray solid 1px;
    background: #ffffffbd;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
    backdrop-filter: blur(10px);
    display: none;
    pointer-events: all;
    animation: bounceInUp 0.5s both;
    max-height: 260px;
}

#notifications {
    bottom: 55px;
    position: absolute;
    width: 100vw;
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    pointer-events: none;
}

.notification {
    overflow: visible;
}

.notification span {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}

#hint {
    margin-bottom: 10px;
    animation: fadeIn 0.25s both;
}

#hint img {
    height: 80px;
}

#hint .left {
    padding-bottom: 0;
    height: fit-content;
}

#hint .right {
    height: fit-content;
    display: flex;
    place-items: center;
    height: 85px;
    padding: 15px;
}

.right,
.left {
    width: fit-content;
    height: 25dvw;
    float: left;
    overflow: auto;
}

.dual button {
    display: block;
    width: 75px;
    padding: 10px;
    margin: 5px;
}

.dual .right {
    width: 325px;
}

.dual .left {
    background-color: #00000020;
}

.dual .right button {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
    width: calc(100% - 10px);
    text-align: left;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: calc(325px - 165px) -65px;
    margin-bottom: 0;
}

#menu button,
#demolish button {
    width: 25vw;
    text-align: left;
    display: block;
    margin: 5px;
    text-transform: capitalize;
}

.innertab {
    display: none;
}

.warningLabel {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    padding: 8px;
    color: yellow;
    padding-bottom: 2px;
    cursor: pointer;
    pointer-events: visible;
}

#floatingDiv {
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

@keyframes bounceInUp {
    0% {
        transform: translate3d(0, 200px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 0;
    }

    60% {
        transform: translate3d(0, -20px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 1;
    }

    75% {
        transform: translate3d(0, 10px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    90% {
        transform: translate3d(0, -5px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    100% {
        transform: translate3d(0, 0, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}