@font-face {
    font-family: 'ra-inet';
    src: url('C&C Red Alert [INET].ttf');
    font-weight: lighter;
}

#intro {
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100dvh;
    width: 100dvw;
}

#intro img {
    width: 25vw;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ra-inet';
    user-select: none;
    outline: none;
}

html, body {
    background: black;
}

#sosmed {
    max-height: none;
    height: calc(-155px + 100vh) !important;
    width: 40vw;
    animation: slideInDown 0.25s both;
}

.sosmedHeader {
    margin-bottom: 0;
    background: #00000020;
    padding: 5px;
}

#Profile {
    padding: 10px;
}

.post {
    width: calc(100% - 10px) !important;
    cursor: auto !important;
}

.postTop {
    margin-bottom: 5px;
    cursor: pointer;
}

.postTop img {
    width: 30px;
    float: left;
}

.postTop span, .postTop b {
    margin-left: 5px;
}

.postDate {
    opacity: 0.5;
}

#newsDetails {
    width: 15px;
    height: 10px;
    background-color: #ffffffbf;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 1001;
    transform: rotate(180deg);
    right: 13px;
    top: 13px;
    animation: flash 2s both;
    pointer-events: none;
    display: none;
}

#tabs {
    background: none !important;
    backdrop-filter: none !important;
    bottom: 65px;
    pointer-events: none;
}

.innertab p {
    padding: 10px;
}

.innertab p:nth-child(even) {
    background-color: #00000015;
}

.time button {
    padding-bottom: 0;
    font-size: 12px;
    color: gray;
    width: 25px;
}

#dateProgress {
    position: absolute;
    height: 12px;
    margin: -6px;
    margin-top: -10px;
    accent-color: #008000;
}

.price,
.right p input {
    float: right;
    color: #008000;
}

.right p input,
.right p progress {
    margin-left: 10px;
}

.right p input {
    background: none;
    border: none;
    font-size: 16px;
    user-select: none;
    accent-color: #008000;
    text-align: right;
}

.right p i {
    float: left;
    margin-right: 5px;
}


.right p progress {
    accent-color: #008000;
    width: 129px;
    float: right;
}

.fitH {
    height: fit-content !important;
    padding-bottom: 0 !important;
}

canvas {
    height: 100dvh !important;
    width: 100dvw !important;
}

.overlay,
#tabs {
    position: absolute;
    width: 100dvw;
    height: fit-content;
    justify-content: center;
    display: flex;
    overflow: visible;
    z-index: 1000;
    place-items: center;
    background: #00000020;
    backdrop-filter: blur(2px);
}

#toolOverlay {
    display: none;
}

#toolname {
    text-transform: capitalize;
}

.bottom {
    bottom: 0;
}

.top {
    top: 34px;
}

.news {
    padding: 10px;
    padding-bottom: 8px;
    background: #2d2d2d;
    color: white;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.10s ease;
}

.news:hover {
    background: #3d3d3d;
}

.news:active {
    background: #4d4d4d;
}

.navigation div,
#notifications span {
    padding: 5px;
    background: #ffffffbd;
    border: darkgray solid 1px;
    margin: 10px 10px 10px 0px;
    width: fit-content;
    display: inline-block;
    pointer-events: all;
    backdrop-filter: blur(10px);
}

.navigation span {
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: -6px;
}

button, .post {
    padding: 5px;
    border: darkgray solid;
    padding-bottom: 3px;
    border-width: 1px 1px 3px 1px;
    cursor: pointer;
    transition: all 0.10s ease;
    background-color: #f0f0f0;
}

button:hover {
    border: gray solid;
    border-width: 1px 1px 3px 1px;
    background: lightgray;
    transition: all 0.10s ease;
}

button:active,
.selected {
    border: gray solid 1px !important;
    background: lightgray;
    box-shadow: none;
    transition: all 0.10s ease;
}

.navigation div:first-child {
    margin-left: 10px;
}

.top span {
    float: right;
    padding-bottom: 3px;
}

.tab,
#hint {
    border: darkgray solid 1px;
    background: #ffffffbd;
    backdrop-filter: blur(10px);
    display: none;
    pointer-events: all;
    animation: slideInUp 0.25s both;
    max-height: 260px;
}

#notifications {
    bottom: 65px;
    position: absolute;
    width: 100vw;
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    pointer-events: none;
    align-items: center;
}

.notification {
    overflow: visible;
}

.notification span {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}

#hint {
    margin-bottom: 10px;
    animation: fadeIn 0.25s both;
}

#hint img {
    height: 80px;
}

#hint .left {
    padding-bottom: 0;
    height: fit-content;
}

#hint .right {
    height: fit-content;
    display: flex;
    place-items: center;
    height: 85px;
    padding: 15px;
}

.right,
.left {
    width: fit-content;
    height: 325px;
    float: left;
    overflow: auto;
    padding-bottom: 65px;
}

.dual button {
    display: block;
    width: 75px;
    padding: 10px;
    margin: 5px;
}

.dual .right {
    width: 325px;
}

.dual .left {
    background-color: #00000020;
}

.dual .right button {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
    width: calc(100% - 10px);
    text-align: left;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: calc(325px - 165px) -65px;
    margin-bottom: 0;
}

#menu button,
#demolish button,
#saves button,
#save button,
.post {
    width: 25vw;
    text-align: left;
    display: block;
    margin: 5px;
    text-transform: capitalize;
}

.innertab {
    display: none;
}

.warningLabel {
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    color: yellow;
    padding-bottom: 2px;
    cursor: pointer;
    pointer-events: visible;
}

#floatingDiv {
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    z-index: 1000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#rainOverlay {
    position: absolute;
    z-index: 999;
    top: 0;
    pointer-events: none;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}