@font-face {
    font-family: 'ra-inet';
    src: url('C&C Red Alert [INET].ttf');
    font-weight: lighter;
}

#intro {
    z-index: 999;
    display: flex;
    position: absolute;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
    width: 100vw;
    place-items: center;
}

#intro span {
    text-shadow: 0px 0px 5px #000000;
    color: white;
}

#intro img {
    box-shadow: 0px 0px 5px #00000080;
    width: 280px;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ra-inet';
    user-select: none;
    outline: none;
}

html,
body {
    background: black;
}

#sosmed {
    max-height: none;
    height: calc(-155px + 100vh) !important;
    width: 40vw;
    animation: slideInDown 0.25s both;
}

.sosmedHeader {
    margin-bottom: 0;
    background: #00000020;
    padding: 5px;
}

#Profile {
    padding: 10px;
}

.post {
    width: calc(100% - 10px) !important;
    cursor: auto !important;
}

.postTop {
    margin-bottom: 5px;
    cursor: pointer;
}

.postTop img {
    width: 30px;
    float: left;
}

.postTop span,
.postTop b {
    margin-left: 5px;
}

.postDate {
    opacity: 0.5;
}

#tabs {
    background: none !important;
    backdrop-filter: none !important;
    bottom: 65px;
    pointer-events: none;
}

.innertab p {
    padding: 10px;
}

.innertab p:nth-child(even) {
    background-color: #00000015;
}

.titleTab {
    margin-top: 15px;
}

.time button {
    padding-bottom: 0;
    font-size: 12px;
    color: gray;
    width: 25px;
}

#dateProgress {
    position: absolute;
    height: 12px;
    margin: -6px;
    margin-top: -10px;
    accent-color: #008000;
}

.price,
.right p input {
    float: right;
    color: #008000;
}

.right p input,
.right p progress {
    margin-left: 10px;
}

.right p input {
    background: none;
    border: none;
    font-size: 16px;
    user-select: none;
    accent-color: #008000;
    text-align: right;
}

.right p i {
    float: left;
    margin-right: 5px;
}


.right p progress {
    accent-color: #008000;
    width: 129px;
    float: right;
}

.fitH {
    height: fit-content !important;
    padding-bottom: 0 !important;
}

canvas {
    height: 100dvh !important;
    width: 100dvw !important;
}

.overlay,
#tabs {
    position: absolute;
    width: 100dvw;
    height: fit-content;
    justify-content: center;
    display: flex;
    overflow: visible;
    z-index: 1000;
    place-items: center;
    background: #00000020;
    backdrop-filter: blur(2px);
}

#toolOverlay {
    display: none;
}

#toolname {
    text-transform: capitalize;
}

.bottom {
    bottom: 0;
    border-top: #a9a9a955 solid 1px;
}

.top {
    top: 34px;
    border-bottom: #a9a9a955 solid 1px;
}

.news {
    padding: 10px;
    padding-bottom: 8px;
    background: #2d2d2d;
    color: white;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.10s ease;
}

.news:hover {
    background: #3d3d3d;
}

.news:active {
    background: #4d4d4d;
}

.navigation div,
#notifications span {
    padding: 5px;
    background: #ffffffbd;
    border: darkgray solid 1px;
    margin: 10px 10px 10px 0px;
    width: fit-content;
    display: inline-block;
    pointer-events: all;
    backdrop-filter: blur(10px);
}

.navigation span {
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: -6px;
}

button,
.post {
    padding: 5px;
    border: darkgray solid;
    padding-bottom: 3px;
    border-width: 1px 1px 3px 1px;
    cursor: pointer;
    transition: all 0.10s ease;
    background-color: #f0f0f0;
}

button:hover {
    border: gray solid;
    border-width: 1px 1px 3px 1px;
    background: lightgray;
    transition: all 0.10s ease;
}

button:active,
.selected {
    border: gray dashed 1px !important;
    background: lightgray;
    box-shadow: none;
    transition: all 0.10s ease;
}

.navigation div:first-child {
    margin-left: 10px;
}

.top span {
    float: right;
    padding-bottom: 3px;
}

.tab,
#hint {
    border: darkgray solid 1px;
    background: #ffffffbd;
    backdrop-filter: blur(10px);
    display: none;
    pointer-events: all;
    animation: slideInUp 0.25s both;
    max-height: 260px;
}

#notifications {
    bottom: 65px;
    position: absolute;
    width: 100vw;
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    pointer-events: none;
    align-items: center;
}

.notification {
    overflow: visible;
}

.notification span {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}

#hint {
    margin-bottom: 10px;
    animation: fadeIn 0.25s both;
}

#hint img {
    height: 80px;
}

#hint .left {
    padding-bottom: 0;
    height: fit-content;
}

#hint .right {
    height: fit-content;
    display: flex;
    place-items: center;
    height: 80px;
    padding: 15px;
}

.right,
.left {
    width: fit-content;
    height: 295px;
    float: left;
    overflow: auto;
    padding-bottom: 65px;
}

.tutorialTab {
    padding: 10px;
}

.dual button {
    display: block;
    width: 75px;
    padding: 10px;
    margin: 5px;
    padding-bottom: 8px;
}

.dual .right {
    width: 325px;
}

.dual .left {
    background-color: #00000020;
}

.dual .right button{
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
    width: calc(100% - 10px);
    text-align: left;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: calc(325px - 165px) -65px;
    margin-bottom: 0;
}

#menu button,
#demolish button,
#save button,
.post {
    width: 25vw;
    text-align: left;
    display: block;
    margin: 5px;
    text-transform: capitalize;
    padding: 10px;
    padding-bottom: 8px;
}

#saves, #newgame {
    width: 325px;
}

#saves hr,
#titleSaves hr {
    margin-top: 5px;
}

#saves input {
    margin: 5px;
}

#titleSavesContent,
#titleSavesContent div {
    background: none !important;
    border: none !important;
    width: 100% !important;
    backdrop-filter: none !important;
}

#newgame button,
#newgame select,
#newgame input,
#intro button,
#intro select,
#intro input  {
    width: calc(100% - 10px);
    margin: 5px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 8px;
}

#intro button:last-child,
#titleSaves div:last-child{
    margin-bottom: 5px;
}

#createNew {
    margin-bottom: 5px !important;
}

.saveName {
    text-align: left;
    width: calc(100% - 65px) !important;
    float: left;
    margin-bottom: 0 !important;
    height: 50px;
    padding: 10px;
}

.deleteSave {
    width: 50px !important;
    float: right;
    aspect-ratio: 1/1;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 13px !important;
}

.loadingWheel {
    border-width: 3px;
    border-style: solid;
    border-color: #ffffffbd #ffffff32 #ffffff32;
    border-image: initial;
    border-radius: 50%;
    animation: 2s linear 0s infinite normal none running spin;
    width: 30px;
    height: 30px;
}

.innertab {
    display: none;
}

.policyTab p,
.statsTab p {
    text-transform: capitalize;
}

.warningLabel {
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    color: white;
    padding-bottom: 2px;
    cursor: pointer;
    pointer-events: visible;
    border-radius: 100%;
    pointer-events: none;
}

#floatingDiv {
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    z-index: 1000;
}

#savename {
    margin: 5px;
    padding: 4px;
    margin-bottom: 0;
    width: calc(100% - 10px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#rainOverlay {
    position: absolute;
    z-index: 999;
    top: 0;
    pointer-events: none;
}

#increase {
    color: #008000;
    margin-left: 5px;
}

.candidate {
    display: flex;
    align-items: center;
}

.candidate span {
    margin-left: 25px;
}

.candidate div {
    margin-left: auto;
}

.candidate button {
    width: 35px !important;
    margin: 0;
}

#titleMain div {
    border: darkgray solid 1px;
    background: #ffffffbd;
    backdrop-filter: blur(10px);
    width: calc(30vw - 30px);
    max-height: 40vh;
    overflow: auto;
}

.tabTitle {
    text-align: center;
    background: #00000010 !important;
    border: none !important;
    backdrop-filter: none !important;
    padding: 5px;
    padding-top: 7px;
    width: 100% !important;
    border-bottom: darkgray solid 1px !important;
}

.tabTitle a {
    position: absolute;
    left: 5px;
    margin-top: -8px;
    font-size: 20px;
    transition: all 0.10s ease;
}

.tabTitle a:hover {
    background: #00000020 !important;
    cursor: pointer;
    transition: all 0.10s ease;
}

#titleSavesContent {
    overflow: auto;
    height: calc(40vh - 25px);
}

#saveslist {
    height: 229px;
    overflow: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}